.container{
    padding:10px auto;
    width: 100%;
    display: flex;
background: blue($color: #000000);
}

.navbar{
    background: blue($color: #000000);
}

.logo-img{
    padding-left: 0 50px;
}

.nav-search{
    padding-left: 10px;
    width: 140px;
    @include desktop() {
        width: 300px;
        }

}
.nav-btn{
    font-size: 15px;
    font-weight: 500;
    padding: 5px 17px;
    background: $color-purple;
    margin-right: 10px;
    border: none;
    &:hover{
          background: $color-hover;  
    }
    @include desktop() {
        padding: 8px 20px;
        font-size: 16px;
        }
} 
.wrap-icon{
    @include tablet(){
       padding: 0 15px;
            }
   
}

.icon-nav{
   display: flex;
   align-items: center;
   justify-content: space-between;

   .icon{
           padding: 0 15px;
   }
   @include tablet(){
    padding: 0 30px;
         }
         @include desktop() {
            padding: 0 10px;
            }
}


.dropdown-menu{
    border-color: black ;
    border-top-width: thin;
    border-right-width: thick;
    border-bottom-width: thick;
    border-left-width: thin;
}